.nav{
    background-color: #006C5F;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 10px;
}
.nav .left img {
    width: 100px;
    margin-left: 20px;
}

.nav .mid ul{
    display: flex;
    color: #fff;
    gap: 2rem;
    text-align: center;
}
.nav .mid ul div{
    padding-top: 10px;
}
.nav .mid ul li {
    font-size: 20px;
    color: #fff;
    list-style-type: none ;    
}
.nav .mid ul li:focus{
    text-decoration: underline;
}
.nav .right {
    display: flex;
    gap: 2rem;
}
.nav .right .searchBar {
    width: 300px;
    position: relative;
}
.nav .right input {
    margin-top: 30px;
    background-color: transparent;
    outline: none;
    border: 2px solid #fff ;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    padding: 5px;
}

.nav .right .searchBar i {
    position: absolute;
    top: 40px;
    right: 10px;
    color: #fff;
}
.nav .right .quizImages{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
.nav .right .last {
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}
.nav .right .last li{
    list-style: none;
    color: #fff;
    font-size: 20px;
}
.nav li {
    cursor: pointer;
}

.nav li:focus{
    text-decoration: underline;
}

.nav .main {
    display: flex;
    gap: 12rem;
}


.offCan{
    padding-top: 20px;
    height: 800px;
    margin-top: 5%;
}
.sideBar .first{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sideBar .first select {
    border: 1px solid #4ABFD9;
    background-color: #4ABFD9;
    border-radius: 0px;
    color: #fff;
    width: 100px;
}
.sideBar .first select option {
    border: 1px solid #4ABFD9;
    background-color: #4ABFD9;
    border-radius: 0px;
    color: #fff;
    width: 100px;
}
.sideBar .first .up{
    display: flex;
    gap: 10px;
}
.sideBar .first .up img {
    width: 40px;
    height: 40px;
}
.sideBar .kid{
    margin-left: 20%;
}
.sideBar form div p{
    margin: 0;
}
.sideBar form {
    margin-left: 10%;
}
.sideBar form div {
    margin-top: 10px;
}
.sideBar form div input {
    width: 60%;
}
.sideBar form div select {
    border-radius: 0;
    width: 60%;
}
.sideBar ul{
    margin-top: 10%;
}
.sideBar ul li{
    list-style: none;
    margin-left: 2%;
    margin-top: 3%;
}


@media screen and (min-width: 780px) and (max-width: 1500px){
    .nav .main{
        gap: 1rem;
    }
}